.header{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(243, 204, 87, 0.8), rgba(243, 204, 87, 0.8)); */

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(100% 0%, 100% 87%, 0% 96%, 0 75%, 0 0);
    
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
#spin:after {
    content: '';
    animation-name: spin;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        content: "Manufacturer of a wide array of Manhole Cover";
    }
    50% {
        color: black;
    }
    100% {
        content: "underrated. unsurpassed";
    }
}

@keyframes animate {
    0% {
        background-image: url(/img/header/1.jpg);
    }
    100% {
        background-image: url(/img/header/2.jpg);
    }
}

.navbar:before {
    content: '';
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .2;
    z-index: -1;
    
}
.nav-link {
    color: rgba(255,255,255,1)!important;
    white-space: normal;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 0.5rem 1rem;
    letter-spacing: -0.5px;
    
}

.nav-link:hover {
    transition: .3s ease-in-out;
    color: #f3cc57!important;
    
}
.nav-link-style {
    color: rgba(255,255,255,1)!important;
    white-space: normal;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 0.5rem 1rem;
    letter-spacing: -0.5px;
    
}

.nav-link-style:hover {
    transition: .3s ease-in-out;
    color: #f3cc57!important;
    text-decoration: none;
}

.text-1 {
    font-size: 2.50em;
}
.text-warning {
    color: #f3cc57;
}

.text-2 {
    font-size: 1.50em !important;
}
.text-3 {
    font-size: 1.2em;
}
.text-4 {
    font-size: 0.9em;
}
.btn-outline-dark {
    
    border-color: black!important;
    border-width: 2px !important;
}


.overlay {
    width: 100%;
    background-size: cover;
    background-image: url(/img/third.jpg);
    overflow: hidden;
    clip-path: polygon(0% 0%, 1000% 20%, 0% 110%, 0 75%, 0 0);
}


.text-5 {
    font-size: 2.30em;
 
}
.text-6 {
    font-size: 1em;
}

.text-7 {
    font-size:1.80em;
}
.bg-color-grey {
    background-color: #EDEDED !important;
    
}

/* Testimonials */

.swiper-container {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    vertical-align: top!important;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.text-8 {
    font-size: 2em;
}

.section-dark {
    height: 473.375px;
    color: white;
    background-color: #212529 !important;
    border-color: #16181b !important;

}
#footer {
    background: rgba(243, 204, 87, 1);
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both;
}
.text-9 {
    font-size: 1em;
    font-weight: 900;
    line-height: 18px;
    margin: 0 0 14px 0;
    text-transform: uppercase;
}
.list.list-icons {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.link-hover-style {
    padding-left: 13px !important;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link-hover-style:hover {
     color: #f3cc57;
     transition: .3s ease-in-out;
    text-decoration: none;
 }
 .footer-hover-style {
    padding-left: 13px !important;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.footer-hover-style:hover {
     color: #000;
     transition: .3s ease-in-out;
    text-decoration: none;
 }

 .link-style {
    padding-left: 13px !important;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link-style:hover {
     color: #f3cc57;
     transition: .3s ease-in-out;
    text-decoration: none;
 }
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    min-width: 200px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #000;
    text-decoration: none;
    color: #f3cc57;
    transition: .1s ease-in-out;

  }
  
  .product-color {
      background-color: rgba(0,0,0,1)!important;
      text-transform: uppercase;
  }
  .product-nav {
      background-color: rgba(243, 204, 87, 1)!important;
      text-transform: uppercase;
  }
  .bg-color {
    background-color: #f7f7f7!important;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: middle  !important;
    border-top: 1px solid #dee2e6;
  }

  .header-1{
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-image: url(/img/aboutus.jpg);
    
    /* background: linear-gradient(rgba(243, 204, 87, 1), rgba(243, 204, 87, 0.5)); */
    /* background: linear-gradient(to right, #f3cc57, #f3f9a7);; */
    

}
.header-2 {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/img/contact.jpg);
    
    /* background: linear-gradient(rgba(243, 204, 87, 1), rgba(243, 204, 87, 0.5)); */
    /* background: linear-gradient(to right, #f3cc57, #f3f9a7);; */
    

}

.header-section {
    width: 100%;
    height: inherit;
    color: black;
    text-align: center;
    position: relative;
}
.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
p.drop-caps:first-letter{
    color: #f3cc57;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding: 4px;
    margin-right: 5px;
    margin-top: 5px;
}
.btn-modern{
    text-transform: uppercase;
    border-radius: 0!important;
    font-size: .8em!important;
    padding: 12.8px 24px!important;
    padding: 0.8rem 1.5rem!important;
    font-weight: 600!important;
}
.img-logo {
    filter: grey;
    -webkit-filter: grayscale(1);
    transition: .5s ease-in-out;
}
.img-logo:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
